<% layout('layouts/boilerplate') %>

    <h1>Login</h1>
    <form action="/login" method="post" class="validated-form" novalidate>

        <div class="mb-3">
            <label for="Username" class="form-label">Username</label>
            <input type="text" id="Username" name="username" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <input type="password" id="Password" name="password" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <button type="submit" class="btn btn-success">Resgiter</button>
    </form>